<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>hey     Learning</p>
</body>
</html>


<section id="cyber-crimes" class="py-12">
    <div class="container mx-auto">
      <h2 class="text-3xl font-bold text-center mb-8"> Learning Corner</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mx-10">
        <a href="#" class="block bg-white rounded-lg shadow-md overflow-hidden">
          <img src="6.png" alt="Cyber Safety Tips" class="w-full h-40 object-cover">
          <div class="p-4">
            <h3 class="text-xl font-semibold"> <b>Cyber Safety Tips :</b> 
       <br>To stay safe in the online world, it is important to follow important cyber safety practices which may help in protecting ourselves and our families from imminent threats that may harm our data and devices.</h3>
          </div>
        </a>
        <a href="#" class="block bg-white rounded-lg shadow-md overflow-hidden">
          <img src="7.png" alt="Cyber Awareness" class="w-full h-40 object-cover">
          <div class="p-4">
            <h3 class="text-xl font-semibold"><b> Cyber Awareness :</b>
            <br>Cyber awareness is an ongoing process of educating employees and citizens about the threats that lurk in cyberspace and how to act responsibly.</h3>
          </div>
        </a>

        <a href="#" class="block bg-white rounded-lg shadow-md overflow-hidden">
          <img src="4.png" alt="Cyber pledge" class="w-full h-40 object-cover">
          <div class="p-4">
            <h3 class="text-xl font-semibold"><b> Cyber pledge :</b>
            <br>Come, let us all take the cyber security pledge and commit ourselves to build safe online environment.</h3>
          </div>
        </a>
      </div>
    </div>
  </section>